<% if logged_in? %>
  <div class="row" >
      <div class="col-md-8 col-md-offset-1" id="your_col" >
        <div class="col-md-6" >
          <h2><%= category.name %></h2>
          <h5>You've learned <%= category.lessons.count %>/<%= category.words.count %><h5>
        </div>
        <div class="col-md-6" >
          <h4><%= category.description %></h4>
          <%= form_for [category, category.lessons.build] do |f| %>
            <%= f.hidden_field :category_id %>
            <%= f.submit "Start", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
  </div>
  <hr>
<% end %>


